@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link href="./style/estilo.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>


<body class="conten">
        <div class="name" style="text-align: center">
            <img class="perfil" src="~/img/imagen.png" />
            <aside><h1>René Díaz Lobato</h1></aside>
        <div class="reset"></div>
        </div>

        <div style="text-align: center;" class="grado">
            <h2>Ingenieria en Sistemas Computacionales</h2>
        </div>

        <article class="informacion">
            <div class="direccion">
                <table>
                    <tbody>
                        <tr>
                            <td>Col.  Santa Cruz Meyehualco</td>
                        </tr>
                        <tr>
                            <td>CP. 09290</td>
                        </tr>
                        <tr>
                            <td>28 años</td>
                        </tr>
                        <tr>
                            <td>Unión libre</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <figure class="contacto">
                <table>
                    <tr>
                        <th scope="col"><img class="icon" src="~/img/gmail.png" /></th>
                        <td scope="col" class="link"><a href="mailto:rene211894@gmail.com">rene211894@gmail.com</a></td>
                    </tr>
                    <tr>
                        <th scope="col"><img class="icon" src="~/img/git.png" /></th>
                        <td scope="col" class="link"><a href="https://github.com/ReneDiazL" target="_blak">ReneDiazL</a></td>
                    </tr>
                    <tr>    
                        <th scope="col"><img class="icon" src="~/img/Linked.png" /></th>
                        <td scope="col" class="link"><a href="https://www.linkedin.com/in/ren%C3%A9-d%C3%ADaz-7b7451224/" target="_blak">René Díaz</a></td>
                    </tr>
                </table>
            </figure>
        </article>

        <article class="estudios">
            <div class="formacion">
                <table>
                    <tbody>
                        <tr><h3>Formación Académica</h3>
                            <td><h4>Universidad Tecnológica de México Campus Sur, "UNITEC”</h4></td>
                        </tr>
                        <tr>
            
                        </tr>
                        <tr>
                            <td><h5>Lic. en Ingeniería en Sistemas Computacionales (concluida diciembre 2021).</h5></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </article>

        <article class="experiencia">
            <div class="laboral">
                <table>
                    <tbody class="info">
                        <tr><h3>Experiencia Laboral</h3>
                            <th class="info"><h6>Punto Clave, México (Mar-16 - actualmente)</h6></th>
                            <th class="info"><h6>Edenred, México (Ago-13 a Mar-16)</h6></th>
                            <th class="info"><h6>Manpower, México (Dic-12 a Jul-13)</h6></th>
                            <th class="info"><h6>Nafes de México, México (Sep-12 a Dic-12)</h6></th>                         
                        </tr>
                        <tr><!--espacio vacio--></tr>
                        <tr>
                            <th colspan="4" class="info" style="text-align: center;">Actividades</th>
                        </tr>
                        <tr class="info">
                            <td class="info">• Altas, bajas y modificaciones de comercios</td>
                            <td class="info">• Soporte vía telefónica.</td>
                            <td class="info"> • Soporte vía telefónica.</td>
                            <td class="info">• Respaldo de información.</td>
                        </tr>
                        <tr class="info">
                            <td class="info">• Mesa de ayuda a soporte técnico en campo.</td>
                            <td class="info">• Mesa de ayuda a personal técnico.</td>
                            <td class="info">• Reporte general</td>
                            <td class="info">• Mantenimiento preventivo y correcto a equipo de cómputo.</td>
                        </tr>
                        <tr class="info">
                            <td class="info">• Monitoreo de actualizaciones.</td>
                            <td class="info">• Actualización de nuevas funcionalidades</td>
                            <td class="info">• Actualización de nuevas funcionalidades</td>
                            <td class="info">• Migración y clonación de disco duro</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
</body>
</html>