@{
    ViewData["Title"] = "Home Page";
}

<head>
<link href="./style/estilo.css" type="text/css" rel="stylesheet">
</head>


<div class="name" style="text-align: center">
    <img class="perfil" src="~/img/imagen.png" />
    <aside><h1>René Díaz Lobato</h1></aside>
<div class="reset"></div>
</div>

<div style="text-align: center;" class="grado">
    <h2>Ingenieria en Sistemas Computacionales</h2>
</div>

<article class="informacion">
    <div class="direccion">
        <table>
            <tbody>
                <tr>
                    <td>Col.  Santa Cruz Meyehualco</td>
                </tr>
                <tr>
                    <td>CP. 09290</td>
                </tr>
                <tr>
                    <td>27 años</td>
                </tr>
                <tr>
                    <td>Unión libre</td>
                </tr>
            </tbody>
        </table>
    </div>

    <figure class="contacto">
        <table>
            <tr>
                <th scope="col"><img class="icon" src="~/img/gmail.jpg" /></th>
                <td scope="col" class="link"><a href="mailto:rene211894@gmail.com">rene211894@gmail.com</a></td>
            </tr>
            <tr>
                <th scope="col"><img class="icon" src="~/img/git.png" /></th>
                <td scope="col" class="link"><a href="https://github.com/ReneDiazL" target="_blak">ReneDiazL</a></td>
            </tr>
            <tr>    
                <th scope="col"><img class="icon" src="~/img/Linked.png" /></th>
                <td scope="col" class="link"><a href="https://www.linkedin.com/in/ren%C3%A9-d%C3%ADaz-7b7451224/" target="_blak">René Díaz</a></td>
            </tr>
        </table>
    </figure>
</article>

