@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="./style/estilo.css" type="text/css" rel="stylesheet">
</head>


<div class="name" style="text-align: center">
    <img class="perfil" src="~/img/imagen.jpeg" />
    <aside><h1>René Díaz Lobato</h1></aside>
<div class="reset"></div>
</div>

<div style="text-align: center;" class="grado">
    <h2>Ingenieria en Sistemas Computacionales</h2>
</div>

<div class="email">
    <thead>
        <tr>
            <th scope="col"><img class="icon" src="~/img/gmail.png" /></th>
            <th scope="col" class="icon">rene211894@gmail.com</th> 
            <th scope="col"><img class="icon" src="~/img/git.png" /></th>
            <th scope="col" class="icon"><a href="https://github.com/ReneDiazL">ReneDiazL</a></th>
            <th scope="col"><img class="icon" src="~/img/Linked.png" /></th>
            <th scope="col" class="icon"><a href="https://www.linkedin.com/in/rené.diaz-7b7451224">René Díaz</a></th>
        </tr>
    </thead>
</div>