@{
    ViewData["Title"] = "Home Page";
}

<head>
<link href="./style/estilo.css" type="text/css" rel="stylesheet">
</head>


<div class="name" style="text-align: center">
    <img class="perfil" src="~/img/imagen.jpeg" />
    <aside><h1>René Díaz Lobato</h1></aside>
<div class="reset"></div>
</div>

<div style="text-align: center;" class="grado">
    <h2>Ingenieria en Sistemas Computacionales</h2>
</div>

<div class="direccion">
    <table>
        <tbody>
            <tr>
                <td>Col.  Santa Cruz Meyehualco</td>
            </tr>
            <tr>
                <td>CP. 09290</td>
            </tr>
            <tr>
                <td>27 años</td>
            </tr>
            <tr>
                <td>Unión libre</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="email">
    <table>
        <tr>
            <th scope="col"><img class="icon" src="~/img/gmail.jpg" /></th>
            <td class="icon">rene211894@gmail.com</td>
        </tr>
        <tr>
            <th scope="col"><img class="icon" src="~/img/git.png" /></th>
            <td scope="col" class="icon"><a href="https://github.com/ReneDiazL">ReneDiazL</a></td>
        </tr>
        <tr>    
            <th scope="col"><img class="icon" src="~/img/Linked.png" /></th>
            <td scope="col" class="icon"><a href="https://www.linkedin.com/in/rené.diaz-7b7451224">René Díaz</a></td>
        </tr>
    </table>
</div>