html {
    height: 100%;
    width: 100%;
  }

body {
    min-width: 100vh;
    margin:auto;
    font-family: sans-serif;
    background: linear-gradient(rgba(100, 100, 80, 0.75),
    rgba(100, 100, 255, 0.75)), url(../img/fondo.png) no-repeat center 
    center fixed;
    background-size: cover;
}

h1, h2 {
    margin: 50 50 60px;
    padding: 00;
    color: #fff;
    text-align: left;
}

.perfil {
    width: 148px;
    height: 184px;
    float: left;
    position: relative;
    top: 2px; right: 70px;
    color: #fff;
    border-radius: 150px;
    border: 5px solid #D3D3D3;
}

.email {
    color: #fff;
    text-align: center;
    padding: 25px;
    float: left;
    background:none;
}

.direccion {
    color: #fff;
    text-align: left;
    padding: 25px;
    float: left;
    position: relative;
    top:80px; right: 250px;
}    

.icon {
    float: left;
    position: relative;
    top: 220px; right: 510px;
    min-width: none;
    max-height: 30px;
    padding: 5px;
    border-radius: 150px;
    background-image: none;
}

.link {
    float: left;
    position: relative;
    top: 220px; right: 510px;
    min-width: none;
    max-height: 30px;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
  
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
  
a, .container {
    color: #fff;
}