html {
    height: 100%;
    width: 100%;
  }

body {
    margin:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    }

h1,h2 {
    margin: 40 40 40px;
    padding: 00;
    color: #fff;
    text-align: center;
    }

.icon, .perfil {
    width: 148px;
    height: 184px;
    float: right;
    position: relative;
    top: 25px; right: 60px;
    color: #fff;
  }

.email {
    color: #fff;
    text-align: center;
    padding: 20px;
    }

.icon{
    width: 148px;
    height: 184px;
    color: #fff;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
  
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }